@import 'styles/_utils.scss';
@import 'styles/_colors.scss';

.container {
  .path {
    @include transition(fill);
  }

  &.dark {
    .path {
      fill: $color-dark-background;
    }
  }

  &.light {
    .path {
      fill: $color-light-background;
    }
  }
}

.path {
  @include transition(fill);
  &.dark {
    fill: $color-dark-line;
  }

  &.light {
    fill: $color-light-line;
  }
}
