@import 'styles/_utils.scss';
@import 'styles/_colors.scss';

.container {
  width: 36px;
  height: 36px;

  .path {
    @include transition(fill);
  }

  &.dark {
    svg {
      fill: $color-dark-line;
    }
  }

  &.light {
    svg {
      fill: $color-light-line;
    }
  }
}
