@import 'styles/_utils.scss';
@import 'styles/_colors.scss';

.button {
  width: 228px;
  height: 64px;
  border-width: 0px;
  border-style: solid;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include transition(background-color, border-color);
  position: relative;

  border-radius: 4px;
  overflow: hidden;

  & .line:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }

  & .line:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
  }

  & .line:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }



  & .line:nth-child(4) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
  }

  &.dark {
    border-color: $color-dark-line;
    background-color: $color-dark-background;

    & .line {
      background-color: $color-dark-line;
    }
  }

  &.light {
    border-color: $color-light-line;
    background-color: $color-light-background;
    
    & .line {
      background-color: $color-light-line;
    }
  }
}

.button:hover:not(:disabled) {
  &.dark {
    background-color: $color-dark-line;
  }

  &.light {
    background-color: $color-light-line;
  }
}

button:disabled {
  &.dark {
    background-color: darken($color: $color-dark-line, $amount: 50%);
  }

  &.light {
    background-color: lighten($color: $color-light-line, $amount: 50%);
  }
}

.text {
  // font-size: 24px;
  margin: 0;
  @include transition(color);

  &.dark {
    color: $color-dark-text;
  }

  &.light {
    color: $color-light-text;
  }
}

.button:hover:not(:disabled) .text {
  &.dark {
    color: $color-dark-background;
  }

  &.light {
    color: $color-light-background;
  }
}

.button:disabled .text {
  &.dark {
    color: $color-dark-background;
  }

  &.light {
    color: $color-light-background;
  }
}

.button:hover  {

  .line:nth-child(1) {
    // animation: topAnimation 2s linear infinite;
  }

  .line:nth-child(2) {
    // animation: leftAnimation 2s linear infinite;
    // animation-delay: 1s;
  }

  .line:nth-child(3) {
    height: 4px;
    animation: bottomAnimation 2s linear infinite;
    z-index: 3;
    // animation-delay: 2s;
  }

  .line:nth-child(4) {
    // animation: rightAnimation 2s linear infinite;
    // animation-delay: 3s;
  }
} 

@keyframes topAnimation {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes leftAnimation {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform:  translateY(100%);
  }
}

@keyframes bottomAnimation {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes rightAnimation {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform:  translateY(-100%);
  }
}

.ios {
  margin-left: 8px;
  margin-top: -4px;
}

.android {
  margin-left: 8px;
}

