// dark theme
$color-dark-tint: #ffffff;
$color-dark-text: #ffffff;
$color-dark-line: #ffffff;
$color-dark-background: #000000;
$color-dark-grid-line: #1a1a1a;

// light theme
$color-light-tint: #262626;
$color-light-text: #262626;
$color-light-line: #262626;
$color-light-background: #ffffff;
$color-light-grid-line: #e6e6e6;
