
@import 'styles/_utils.scss';
@import 'styles/_colors.scss';

.button {

  border-radius: 12px;
  padding: 8px;
  border: 0;

  @include transition(background-color, opacity);

  &:disabled {
    opacity: 0.2;
  }

  &.dark {
    background-color: transparent;

    &:hover:enabled {
      background-color: darken($color: $color-dark-text, $amount: 90);
    }
    
    &:active:focus {
      background-color: darken($color: $color-dark-text, $amount: 40);
    }
  }

  &.light {
    background-color: transparent;

    &:hover:enabled {
      background-color: lighten($color: $color-light-text, $amount: 60);
    }

    &:active:focus {
      background-color: lighten($color: $color-light-text, $amount: 20);
    }
  }
}