@import 'styles/_utils.scss';
@import 'styles/_colors.scss';

.container {
  width: 24px;
  height: 24px;

  .path {
    @include transition(fill);
  }

  &.dark {
    .path {
      fill: $color-dark-line;
    }
  }

  &.light {
    .path {
      fill: $color-light-line;
    }
  }
}
