@import 'styles/_utils.scss';
@import 'styles/_colors.scss';

.content {
  margin: 0;
  @include transition(color);

  &.dark {
    &.text {
      background-color: $color-dark-text;
    }

    &.tint {
      background-color: $color-dark-tint;
    }
  }

  &.light {
    &.text {
      background-color: $color-light-text;
    }

    &.tint {
      background-color: $color-light-tint;
    }
  }

  &, & > span {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
}
