@import 'styles/_utils.scss';
@import 'styles/_colors.scss';

.content {
  margin: 0;
  // @include transition(color, background-color);

  &.dark {
    &.text {
      background-color: $color-dark-text;
    }

    &.tint {
      background-color: $color-dark-tint;
    }

    ::-moz-selection { /* Code for Firefox */
      background: rgba($color-dark-text, 0.7) !important;
    }

    ::selection {
      background: rgba($color-dark-text, 0.7) !important;
    }
  }

  &.light {
    &.text {
      background-color: $color-light-text;
    }

    &.tint {
      background-color: $color-light-tint;
    }

    ::-moz-selection { /* Code for Firefox */
      background: rgba($color-light-text, 0.7) !important;
    }

    ::selection {
      background: rgba($color-light-text, 0.7) !important;
    }
  }

  &, & > span {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
}
