@import 'styles/_utils.scss';
@import 'styles/_colors.scss';

.container {
  position: fixed;
  bottom: 16px;
  right: 24px;
  width: 25%;
  min-width: 300px;
  max-width: 25%;
  min-height: 200px;
  border-width: 0;
  border-style: solid;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 4;
  @include transition(border-color, background-color);


  &.dark {
    border-color: $color-dark-line;
    background-color: $color-dark-background;
  }

  &.light {
    border-color: $color-light-line;
    background-color: $color-light-background;
  }

  &.responsive {
    right: 8px;
    bottom: 8px;
  }
}

.header {
  width: 100%;
  height: 40px;
  padding: 0 8px 0 16px;
  box-sizing: border-box;
  border-bottom-width: 1;
  border-bottom-style: solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include transition(border-color);

  &.dark {
    border-color: $color-dark-line;
  }

  &.light {
    border-color: $color-light-line;
  }
}

.content {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 0 16px;
  position: relative;

  // transform: translateY(-50%);
  box-sizing: border-box;

  .close {
    position: absolute;
    top: 10px;
    left: 6px;
  }
}

.close {
  border: 0;
  outline: 0;
  background-color: transparent;
}


