.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
  min-width: 40px;
  min-height: 64px;

  .item {
    margin-right: 16px;
  }

  &.responsive {
    flex-direction: column;
    margin-bottom: 0px;
    margin-right: 16px;

    .item {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }
}
