@import 'styles/_utils.scss';
@import 'styles/_colors.scss';


.tag {
  border: 0;
  outline: 0;
  padding:  0px;
  cursor: default;
  font-size: 12px;
  font-weight: 600;
  padding: 8px;
  border-radius: 2px;
  border-bottom: 1px solid;
  text-transform: lowercase;
  
  &.dark {
    background-color: $color-dark-line;
    color: $color-dark-background;

    &:disabled {
      background-color: darken($color: $color-dark-line, $amount: 20%) 
     }
  }

  &.light {
    background-color: $color-light-line;
    color: $color-light-background;

    &:disabled {
      background-color: lighten($color: $color-light-line, $amount: 20%) 
     }
  }

  &.link {
    cursor: pointer;
    &:hover {
      &.dark {
        background-color: $color-light-line;
        color: $color-light-background;
      }
    
      &.light {
        background-color: $color-dark-line;
        color: $color-dark-background;
      }
    }
  }
}